.content {
  &__page {
    width: 100%;
    height: calc(100vh - 82px);
    // padding: 0 2rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
  }

  &__codeblock {
    width: 50vw;

    // reference for half-page view
    // width: 64vw;
  }

  &__container {
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  &__download {
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--articleTextColor);
    padding-top: 2rem;
    text-decoration: none;

    &:hover {
      .download__button {
        color: var(--download-icon-color);
      }
    }
  }

  &__header {
    font-size: 4rem;
    color: var(--articleTextColor);
  }

  &__subheader {
    font-size: 1.6rem;
    color: var(--articleTextColor);
    padding-top: 1rem;
  }

  &__example {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    padding: 1rem;

    &:focus {
      color: green;
      font-size: 3rem;
    }
  }

  &__code {
    background: white;
    width: 900px;
    min-height: 200px;
    max-height: 450px;
    margin-left: 5rem;
  }
}

.download {
  &__button {
    width: 30px;
    padding-left: 1rem;
    cursor: pointer;

    &:hover {
      color: var(--download-icon-color);
    }
  }

  &__container {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    right: 5rem;
    width: 100%;
  }
}

pre {
  min-width: 500px;
  min-height: 200px;
}

.content__page::-webkit-scrollbar {
  width: 8px;
}
.content__page::-webkit-scrollbar-track {
  background: none;
}
.content__page::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color);
  border-radius: 4px;
  border: 3px solid none;
}
