@media screen and (max-width: 450px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    // TopBar
    .topbar {
      &__container {
        height: 60px;
        width: 100vw;
      }

      &__title {
        font-size: 1.8rem;
        padding-left: 6vw;
      }
    }

    .theme {
      &__toggle {
        justify-content: space-between;
        padding: 2vw;
      }

      &__icon {
        &--moon {
          width: 35px;
        }

        &--sun {
          width: 35px;
        }

        &--menu {
          width: 30px;
          display: block;
          padding-right: 1rem;
        }
      }
    }

    // SideBar

    .sidebar {
      &__container {
        width: 100vw;
        height: 100vh;
        background: var(--barBackgroundColor);
        z-index: 5;
        border-right: 0;
        transition: all 0.3s ease-in-out;

        transform: translateX(100vw);
        &--active {
          transform: translateX(0);
        }
      }

      &__list {
        width: 100vw;

        padding-top: 4rem;
      }

      &__accordion {
        align-items: flex-end;
        padding-right: 2rem;
      }
    }

    // HomePage
    .page {
      &__container {
        width: 95vw;
        position: absolute;
      }
    }

    .site {
      &__wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    .home {
      &__container {
        width: 100%;
        padding: 0;
        align-items: center;
      }

      &__message {
        font-size: 1.2rem;
        line-height: 1.6;
        padding: 1rem;
      }

      &__link {
        width: 90vw;
      }

      &__image {
        width: 100%;
      }
    }

    // PageContent

    .content {
      &__codeblock {
        width: 95vw;
      }

      &__container {
        position: absolute;
        padding-top: 1rem;
        align-items: center;
        width: 100%;
      }

      &__header {
        font-size: 2.6rem;
        padding-top: 2rem;
        color: var(--articleTextColor);
      }

      &__subheader {
        font-size: 1.4rem;
        padding-top: 2rem;
      }
    }

    .download {
      &__button {
        width: 30px;
        padding-left: 1rem;
        cursor: pointer;

        &:hover {
          color: var(--download-icon-color);
        }
      }

      &__container {
        position: relative;
        width: 100vw;
        right: 1rem;
        top: 0;
      }
    }

    pre {
      min-width: 80vw;
      padding: 3rem 0 0 1rem !important;
    }
  }
}
