.sidebar {
  &__container {
    width: 23vw;
    height: calc(100vh - 82px);
    border-right: 2px solid lighten(hsla(0, 0%, 23%, 0.8), 20%);
  }

  &__list {
    padding-top: 4rem;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    color: var(--barTextColor);
    text-decoration: none;
    font-weight: 600;
  }
}

.accordion {
  &__category {
    display: flex;
    color: var(--barTextColor);
    font-size: 1.3em;
  }

  &__container {
    cursor: pointer;
    transition: all 0.2s ease-out;
    width: 180px;
  }

  &__chevron {
    width: 20px;
    color: var(--chevronColor);
    transition: all 0.2s ease-in-out;

    &--expanded {
      transform: scaleY(-1);
    }
  }
  &__details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: var(--barTextAccent);
    font-size: 1.1rem;
    line-height: 1.5;
    z-index: -1;
    padding: 0.5rem 0;

    max-height: 10px;
    overflow: hidden;

    cursor: pointer;

    transition: all 0.2s ease-out;
    // transition: all 0.2s ease-out;
    // transition: height 0.3s ease;

    &--visible {
      z-index: 1;
      opacity: 1;
      max-height: 100%;
      overflow: visible;

      // transform: translateY(10px);
    }
    &--invisible {
      opacity: 0;
      height: 0;

      transform: translateY(-10px);
    }
  }
}
