.sidebar {
  &__container {
    width: 23vw;
    height: calc(100vh - 82px);
    border-right: 2px solid lighten(hsla(0, 0%, 23%, 0.8), 20%);
  }

  &__list {
    padding-top: 4rem;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    color: var(--barTextColor);
    text-decoration: none;
    transition: font-size 0.2s, font-weight 0.2s ease-in-out;
    padding: 4px;

    &--active {
      font-size: 1.3rem;
      font-weight: 600;
      border-bottom: 2px solid var(--theme-selector-color);
    }
  }
}

.accordion {
  &__category {
    display: flex;
    color: var(--barTextColor);
    font-size: 1.4rem;
  }

  &__container {
    cursor: pointer;
    width: 200px;
    padding-left: 2rem;
  }

  &__chevron {
    width: 20px;
    color: var(--chevronColor);
    transition: all 0.2s ease-in-out;
    padding: 5px 0 0 5px;

    &--expanded {
      transform: rotate(90deg);
    }
  }
  &__details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: var(--barTextAccent);
    font-size: 1.1rem;
    line-height: 1.5;
    z-index: -1;
    padding: 0.5rem 0;

    height: 0%;
    overflow: hidden;

    cursor: pointer;

    transition: height 0.2s, opacity 0.2s, transform 0.8s;

    // transition: all 0.2s ease-out;
    // transition: all 0.2s ease-out;
    // transition: height 0.3s ease;

    &--visible {
      z-index: 1;
      opacity: 1;
      height: 100%;
      overflow: visible;

      // transform: translateY(10px);
    }
    &--invisible {
      opacity: 0;
      height: 0;

      transform: translateY(-10px);
    }
  }
}
